<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">
        <a href="{{ url_for('index') }}" class="footer-logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
        </a>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h2>What we do</h2>
                    <ul>
                        <li><a href="#">Loans</a></li>
                        <li><a href="#">Car loans</a></li>
                        <li><a href="#">Debt consolidation loans</a></li>
                        <li><a href="#">Home improvement loans</a></li>
                        <li><a href="#">Wedding loans</a></li>
                        <li><a href="#">Innovative Finance ISA</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h2>About us</h2>
                    <ul>
                        <li><a href="{{ url_for('about_us') }}">About us</a></li>
                        <li><a href="#">Our story</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h2>Legal</h2>
                    <ul>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Website terms</a></li>
                        <li><a href="#">Cookie policy</a></li>
                        <li><a href="#">Conflicts policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h2>Site Info</h2>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="copyright">
            Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Made by Ztech
        </div>
    </div>
</footer>
<!-- Footer Section end -->
