<header class="header-section">
    <a href="index.html" class="site-logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
    </a>
    <nav class="header-nav">
        <ul class="main-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="#">Pages</a>
                <ul class="sub-menu">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="loans.html">Loans</a></li>
                    <li><a href="elements.html">elements</a></li>
                </ul>
            </li>
            <li><a href="news.html">News</a></li>
        </ul>
        <div class="header-right">
            <a href="#" class="hr-btn"><i class="flaticon-029-telephone-1"></i>Call us now! </a>
            <div class="hr-btn hr-btn-2">+45 332 65767 42</div>
        </div>
    </nav>
</header>